.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    margin: 50px;
    padding: 60px;
    text-shadow: 4px 2px 4px rgba(0,0,0,0.99);
    text-align: center;
    font-size: large;
    margin-bottom: 0;
}