@import "./topBar";
@import "./middleText";
@import "./title";
@import "./form";
@import "./loginSpace";

body {
    background: linear-gradient(90deg, rgba(108,65,126,1) 0%, rgba(44,179,185,1) 100%);
    text-align: center;
}

button {
    background-color: #808080;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    &:hover{
        background-color: #414141;
    }
  }